{
    "env": {
        "browser": true,
        "es2021": true
      },
    "parser":  "@typescript-eslint/parser",
     "extends":  [

       "eslint:recommended",
       "plugin:prettier/recommended",
       "prettier",
       "plugin:react/recommended",
       "eslint-config-prettier",
       "plugin:@typescript-eslint/recommended"

     ],
     "parserOptions":  {
       "ecmaVersion":  2018,
       "sourceType":  "module"
     },
     "plugins": ["prettier"],
     "rules": {
             "no-console": "error",
             "prettier/prettier":"error",
       "@typescript-eslint/explicit-module-boundary-types": "off"
     },
     "settings": {
       "react": {
         "version": "detect"
       }
     },
     "overrides": [
       {
         "files": ["*.ts", "*.tsx"]
       }
     ]
}
